<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title><%= pageTitle %> - Integration Platform</title>
<link rel="stylesheet" href="/css/theme.css">
<% if (typeof extraCSS !== 'undefined' && extraCSS.length > 0) { %>
    <% extraCSS.forEach(function(css) { %>
        <link rel="stylesheet" href="<%= css %>">
    <% }); %>
<% } %>
